.yearend-section {
  padding: 40px 300px;
}

.yearend-section h2 {
  font-size: 30px;
  font-family: "Pretendard-Bold";
  margin-bottom: 50px;
  text-align: center;
}

.yearend-section h3 {
  margin-right: 250px;
}

.yearend-content {
  background-color: #4f6be7;
  border-radius: 20px;
  width: 570px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.content {
}

.allofChar {
  width: 100%;
  margin-top: 30px;
  margin-left: 33px;
}

.content p {
  font-size: 18px;
  color: #898989;
}

.toc-container {
  background-color: #f4f5f7;
  border-radius: 20px;
  width: 560px;
  height: 170px;
  padding: 1px 30px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.toc-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #898989;
}

.toc-container p a {
  color: #898989;
}
