.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fffcfc;
  height: 60px;
  position: relative;
  font-family: "hana-Regular";
}

ul,
li {
  list-style: none;
  padding: 0;
}

.logo {
  height: 27px;
  margin-left: 10px;
  width: auto;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-left: 50px;
  font-size: 17px;
  position: relative;
  font-weight: bold;
}

.nav-item:hover {
  color: #18cd8c;
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-item a,
.nav-item span {
  text-decoration: none;
  font-weight: bold;
}

.dropdown-container {
  display: flex;
  padding: 20px;
}

.dropdown-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 20px 20px;
  border-right: 1px solid #ddd;
  color: #000;
}

.dropdown-left span {
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-money-box {
  background-color: #fff;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation: fadeIn 0.5s ease-out; /* 애니메이션 적용 */
  margin-top: 20px;
  margin-bottom: 45px;
  font-family: "Pretendard-Regular";
}

.header-money {
  font-size: 1.9em;
  position: relative;
  animation: fadeIn 0.5s ease-out; /* 숫자에도 애니메이션 적용 */
}

@keyframes scrollQuestion {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}

.question {
  display: inline-block;
  width: 20px; /* 너비 설정 */
  height: 30px; /* 높이 설정 */
  font-size: 20px; /* 글자 크기 설정 */
  text-align: center;
  animation: scrollQuestion 2s infinite linear; /* 애니메이션 적용 */
}

.left-image {
  max-width: 200px;
  margin-bottom: 20px;
}

.inquiry-button {
  background-color: #18cd8c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 11px;
  font-weight: bold;
  margin-top: -15px;
}

.inquiry-button:hover {
  background-color: #15a36f;
}

.dropdown-right {
  display: flex;
  padding-left: 30px;
}

.dropdown-column {
  margin-right: 40px;
}

.menu-title {
  font-weight: bold;
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
  color: #aaaaaa;
}

.dropdown-submenu {
  padding-top: 10px;
}

.dropdown-item {
  padding-top: 13px;
  color: #555;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #fffcfc;
  padding: 20px;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-item.dropdown-active .dropdown-menu {
  display: block;
}

.header.hidden {
  top: -100px;
}

.header.visible {
  top: 0;
}

.allOverLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.num {
  display: inline-block;
  width: 20px;
  overflow: hidden;
  height: 30px;
}

.num-list {
  display: block;
  line-height: 30px;
  transition: margin-top 0.3s ease-in-out;
}

.won-unit {
  font-size: 0.8em;
}

.dropdown-mymenu {
  display: none;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fffcfc;
  margin-top: 275px;
  width: 130px;
  z-index: 1000;
  font-size: 13px;
  padding: 10px;
}

.dropdown-mymenu-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-mymenu-item {
  color: gray; /* 글씨 색상 */
  padding: 8px 0;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline; /* textDecoration 적용 */
}

.dropdown-mymenu-item:hover {
  color: black;
}

.login-user-mycontainer {
  position: relative;
  display: inline-block;
  font-family: "Pretendard-Regular";
}

.profile-box {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
}

.my-profile-update-box {
  background-color: #f2f4f6;
  width: 60%;
  font-size: 12px;
  color: #757575;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
}

.my-profile-underline {
  width: 100%;
  height: 0.3px;
  background-color: #ccc;
  margin: 15px;
}
